body{
    background-color: blanchedalmond;
    }
hr  {
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   border-color:gray;
   width: 5%;
    }
p   {
    font-family: cursive;
    }
td  {
    text-align: center;
    padding:0.055in;

    }    

h1  {
    font-family: cursive;
    color:coral;
    }
h2  {
    color:chocolate;
    }


bold
    {
    color:rgb(26, 127, 221);
    }